.customer {
    padding-top: 5rem;
    &-heading {
        max-width: 448px;
        text-align: center;
        margin: auto;
        font-size: 35px;
        font-weight: 500;
        line-height: 50px;
        color: $gray-dark;
    }
    &-desc {
        text-align: center;
        max-width: 555px;
        margin: 2rem auto 6rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: $gray;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-assess {
        max-width: 500px;
        padding: 1.5rem;
        border: 2px solid #dddddd;
        border-radius: 10px;
        margin: 0 25px;
        height: auto;
        &.slick-active.slick-current {
            border: 2px solid $red-light;
        }
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
        }
        &-info {
            gap: 0 20px;
        }
        &-rating {
            display: flex;
            gap: 0 10px;
            p {
                font-size: 1.2rem;
                color: $gray;
            }
        }

        &-desc {
            color: $gray;
            margin-top: 1rem;
        }
    }

    // slick
    .slick-dots {
        display: flex;
        list-style-type: none;
        gap: 0 15px;
        margin-top: 82px;
        transform: translateY(50%);
        .slick-active button {
            width: 45px;
            background-color: $red-light;
        }
        button {
            font-size: 0;
            border-radius: 100px;
            width: 15px;
            height: 15px;
            border: none;
            transition: all 0.2s linear;
        }
    }
    .slick-arrow {
        width: 60px;
        height: 60px;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        z-index: 2;
        &:hover {
            opacity: 0.5;
        }
    }
    .slick-prev {
        border: 1px solid $red-light;
        background-color: transparent;
        right: 80px;
        bottom: 30px;
    }
    .slick-next {
        border: 1px solid $red-light;
        background-color: transparent;
        right: 9px;
        color: $red-light;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

@media screen and (max-width: 1023px) {
    .customer {
        padding-top: 40px;
        &-assess {
            max-width: 510px;
        }
    }
}

@media screen and (max-width: 767px) {
    .customer {
        padding-top: 20px;
        &-assess {
            padding: 20px 14px;
            margin: 0 4px;
        }
        .slick-dots {
            margin-top: 20px;
            gap: 0 10px;
            button {
                width: 10px;
                height: 10px;
            }
            .slick-active button {
                width: 30px;
            }
        }
        .slick-arrow {
            bottom: -20px;
            width: 40px;
            height: 40px;
        }
        .slick-prev {
            bottom: 0;
            right: 60px;
            width: 40px;
            height: 40px;
        }
    }
}

@media screen and (max-width: 479px) {
    .customer-assess {
        max-width: 480px;
    }

    .customer .slick-dots {
        margin: 20px auto 0;
    }
}
