.customer {
    margin: 40px 0 0;
    padding-bottom: 175px;
    background-color: $white;
    position: relative;
    &-heading {
        width: 447.81px;
        // height: 100px;
        text-align: center;
        margin: 0 auto 20px;
    }

    &-desc {
        width: 555px;
        height: 60px;
        text-align: center;
        margin: 0 auto 90px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0 46px;
        overflow-x: hidden;
        scroll-snap-type: x proximity;
        scroll-snap-align: start;
        margin-bottom: 80px;
        max-width: 100%;
    }

    &-item {
        width: 400px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $white;
        border: 2px solid #dddddd;
        padding: 40px;
        border-radius: 10px;
        cursor: pointer;

        .star {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .star-icon {
            width: 16px;
            height: 16px;
            color: #fea250;
        }

        .user-comment {
            margin-top: 20px;
        }

        &:hover {
            border-color: $red-light;
        }
    }

    .user-rating {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .num-star {
        margin-right: 10px;
    }

    &-pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 175px;

        .pagination-current--slide {
            display: flex;
            align-items: center;
        }

        .slide {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #dde0e4;
            margin-right: 10px;
        }
        .active {
            width: 45px;
            height: 15px;
            background-color: $red-light;
            border-radius: 50px;
        }

        .pagination-arrow {
            display: flex;
            align-items: center;

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid $red-light;
                color: $red-light;
                font-size: 30px;
                cursor: pointer;
                &:last-child {
                    margin-right: 160px;
                    margin-left: 20px;
                }
                &:hover {
                    background-color: $red-light;
                    color: $white;
                }
            }
        }
    }
    // Tablet high resolution
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
        .customer-list {
            padding-left: 20px;
            overflow-x: auto;
        }
        .customer-pagination {
            display: none;
        }
    }

    // Tablet
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .customer-list {
            overflow-x: auto;
            margin-left: 20px;
        }

        .customer-pagination {
            display: none;
        }

        .subcribe {
            width: auto;
            padding: 0 30px;
        }
    }

    @media screen and (max-width: 767px) {
        .customer-heading,
        .customer-desc {
            padding: 0 10px;
            width: 100%;
        }

        .customer-list {
            margin-left: 50px;
            overflow-x: auto;
        }

        .customer-pagination {
            display: none;
        }
    }
}
