/* Modal css */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none; /* Ẩn modal */
    z-index: 999;
}

/* Hiện modal */
.open {
    display: flex;
}

.modal-container {
    width: 900px;
    max-width: calc(100% - 36px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 0.4s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: $white;
}

.modal-close:hover {
    background-color: rgb(212, 209, 209);
    color: $gray;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    padding: 32px 16px;
    font-size: 2.5rem;
    color: $white;

    letter-spacing: 4px;
}

.modal-header i {
    padding: 0 16px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 0.15px 16px;
    background-color: $white;
}

.modal-label {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: $gray;
    font-size: 1.5rem;

    .icon-modal {
        margin-right: 10px;
    }
}

.modal-input {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.modal-btn {
    margin: 16px 0;
    padding: 16px;
    background-color: #009688;
    border-style: none;
    color: $white;
    font-size: 1.5rem;
    border-radius: 4px;
}

.modal-btn:hover {
    background-color: rgb(212, 209, 209);
    color: $gray;
    cursor: pointer;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    font-size: 1.5rem;
}

.modal-footer-btn {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    background-color: #f44336;
    border-style: none;
    color: $white;
    font-size: 1.5rem;

    border-radius: 4px;
}

.modal-footer-btn i {
    font-size: 1.2rem;
    padding-left: 6px;
}

.modal-footer-btn:hover {
    background-color: #ccc;
    color: $gray;
    cursor: pointer;
}

/* animation cho modal */
@keyframes modalFaceIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
