$red-light: #f53838;
$orange-light: #ffbcbc; // Hover btn
$white: #ffffff;
$white-dark: #f6f6f6;
$white-darker: #f8f8f8;
$primary-font: 'Rubik', sans-serif;
$gray: #4f5665; // text
$gray-dark: #0b132a; // Heading
$gray-light: #c9c9ce; // Hover
$gray-lighter: #eeeff2; // border-line
